#root {
    height: 100%;
}
.app {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 100%;
}

.date-selector {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        @include clickable();
        background-color: $color-flat;
        border-radius: 2rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left > svg {
        transform: rotate(90deg);
    }
    .right > svg {
        transform: rotate(-90deg);
    }
}
